:root {
  --bill-color: #ffa62b;
  --darker-color: #16697a;
  --base-color: #489fb5;
  --lighter-color: #82c0cc;
  --eye-color: #ede7e3;
}

* {
  border: solid 1px red;
}

.container {
  background-color: var(--lighter-color);
  display: grid;
  grid-template-columns: 200px auto 250px;
  grid-template-rows: 80px 70px auto auto 1fr;
  gap: 1px;
}

.header {
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: 1fr;
}

.header > .logo {
  background-color: var(--bill-color);
  color: var(--eye-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: solid 5px green;
  align-items: center;
}

.search {
  background-color: var(--eye-color);
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
}

.header-right {
  background-color: var(--eye-color);
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.sidebar {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  background-color: var(--darker-color);
  color: var(--eye-color);
  gap: 30px;
}

.sidebar-upper,
.sidebar-lower {
  display: grid;
  grid-template-columns: 50px 150px;
  grid-template-rows: repeat(auto-fill, 40px);
}

.nav {
  grid-area: 2 / 2 / 3 / 4;
  background-color: var(--eye-color);
  display: grid;
  grid-template-columns: auto 300px;
}

.nav-left > .logo {
  align-items: center;
}

.nav-left {
  display: grid;
  grid-template-columns: 80px auto;
}

.nav-left > .username {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.nav-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.projects {
  grid-area: 3 / 2 / 5 / 3;
  background-color: var(--lighter-color);
}

.item-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: 10px;
}

.projects > .item-lists > .item {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto 50px;
}

.projects > .item-lists > .item > .icons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  justify-content: end;
}
.announcements {
  grid-area: 3 / 3 / 4 / 4;
  background-color: var(--lighter-color);
}

.article-lists {
  display: grid;
  grid-column: 1fr;
  gap: 4px;
}

.announcements > .article-lists > .article {
  height: 100px;
}
.trending {
  grid-area: 4 / 3 / 5 / 4;
  background-color: var(--lighter-color);
}

.trending > .trending-user-list {
  display: grid;
  grid-column: 1fr;
  gap: 4px;
}

.trending > .trending-user-list > .other-user {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.trending > .trending-user-list > .other-user > .nameInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
