:root {
  --bill-color: #ffa62b;
  --darker-color: #16697a;
  --base-color: #489fb5;
  --lighter-color: #82c0cc;
  --eye-color: #ede7e3;
}

* {
  /* border: solid 1px red; */
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  background-color: var(--lighter-color);
  display: grid;
  grid-template-columns: 200px auto 250px;
  grid-template-rows: 80px 70px auto auto 1fr;
}

.header {
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: 1fr;
}

.header > .logo {
  background-color: var(--bill-color);
  color: var(--eye-color);
  display: grid;
  grid-template-columns: auto 3fr;
  text-align: center;
  align-items: center;
  padding: 10px;
}

#pageTitle {
  font-size: 30px;
  font-weight: 700;
}
.search {
  background-color: var(--eye-color);
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
}

#search-icon {
  display: flex;
  align-items: center; /* center vertically */
  justify-content: end; /* center horizontally */
  padding-right: 10px;
}

#searchBar {
  height: 22px;
  width: 75%;
  border-radius: 15px;
}
.header-right {
  background-color: var(--eye-color);
  display: grid;
  grid-template-columns: 32px 32px auto;
  align-items: center;
  column-gap: 15px;
}

.header-right-icon {
  background-color: var(--bill-color);
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}

.header-right-username {
  font-size: 20px;
  font-weight: 500;
}

.sidebar {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  background-color: var(--darker-color);
  color: var(--eye-color);
  font-weight: 500;
  padding-top: 10px;
}

.sidebar-upper,
.sidebar-lower {
  display: grid;
  grid-template-columns: 50px 150px;
  grid-template-rows: repeat(auto-fill, 40px);
  padding-top: 10px;
}

.side-bar-icon {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  /* border: solid 5px green; */
}

.side-bar-category {
  display: flex;
  align-items: center; /* center vertically */
}

.side-bar-category > a,
.side-bar-category > a:visited {
  text-decoration: none;
  color: var(--eye-color);
}

.nav {
  grid-area: 2 / 2 / 3 / 4;
  background-color: var(--base-color);
  display: grid;
  grid-template-columns: auto 300px;
  align-items: center;
}

#nav-logo {
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  background-color: var(--eye-color);
  border-radius: 50px;
  height: 55px;
  width: 55px;
  margin: auto;
}

.nav-left {
  display: grid;
  grid-template-columns: 80px auto;
}

.nav-left > .username {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.nav-right {
  display: flex;
  justify-content: space-around;
}

#nav-username {
  font-size: 29px;
  font-weight: 500;
  display: flex;
  align-items: center; /* center vertically */
}
.nav-btn {
  border-radius: 25px;
  background-color: var(--darker-color);
  color: var(--eye-color);
  padding: 10px 20px;
  align-items: center;
  border: none;
  font-size: larger;
  font-weight: 500;
}
.projects {
  grid-area: 3 / 2 / 5 / 3;
  background-color: var(--lighter-color);
}

.category {
  font-size: 22px;
  font-weight: 500;
  padding: 15px 24px;
}

.item-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: 15px;
  margin: 10px;
}

.projects > .item-lists > .item {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto 50px;
  background-color: var(--eye-color);
  border: solid 3px var(--bill-color);
  border-radius: 15px;
  box-shadow: 2px 2px 2px #16697a;
}

.projects > .item-lists > .item > .icons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  justify-content: end;
}

.item-title {
  margin: 10px;
  font-size: larger;
  font-weight: 500;
}

.item-info {
  margin: 30px 10px 10px 10px;
}
.announcements {
  grid-area: 3 / 3 / 4 / 4;
  background-color: var(--lighter-color);
}

.article-lists {
  display: grid;
  grid-column: 1fr;
  gap: 4px;
  padding: 15px;
}

.article-title {
  font-weight: 500;
  padding: 10px 10px;
}

.article-info {
  padding: 5px 10px;
}
.announcements > .article-lists > .article {
  height: 100px;
  background-color: #ede7e3;
  opacity: 80%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px var(--darker-color);
}
.trending {
  grid-area: 4 / 3 / 5 / 4;
  background-color: var(--lighter-color);
}

.trending > .trending-user-list {
  display: grid;
  grid-column: 1fr;
  gap: 4px;
  padding: 15px;
}

.trending > .trending-user-list > .other-user {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--eye-color);
  opacity: 80%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px var(--darker-color);
}

.trending > .trending-user-list > .other-user > .nameInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  font-weight: 500;
}

.other-user-logo {
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}

.article-info,
.other-user-info {
  font-weight: 300;
}
